@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

nav > ul > li > a{
    color: #1e232b;
    text-decoration: none;
    font-size: clamp(1rem, 3vmin, 1.7rem);
    font-family: 'Roboto', sans-serif;
}
