@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&family=Roboto:ital,wght@0,500;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    height: auto;
}
.indexCointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/samplawa-e85f7.appspot.com/o/bg-pattran.png?alt=media&token=8d50b11b-d328-466e-81e8-333962ee63c8');
    background-color: black;
    min-height: 70vh;
}


@media only screen and (max-width:500px) {
    .indexCointainer{
        
        
    }
}
svg:hover{
    cursor: pointer;
}


@media only screen and (max-width:768px) {
    #OpisTotpEl{
        border-top:1px solid #ffe600;
        border-bottom:1px solid #ffe600;
        padding-top:10px;
    }

    
}
