@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color: #F5F5F5; */
    height: auto;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(254,208,83,1) 41%); */
    background-color: #1e232b;

}
.indexCointainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:  1fr;
    grid-gap:0px ;
}

@media only screen and (max-width:500px) {
    .indexCointainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr;
        gap: 0px 0px;
        
    }
}