
.contentBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgArticle{
    width: 100%;
    height: 100%;
}
.LeftSide{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;

}
.contentBoxImage{
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBoxText{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

